.ok {
  border-color: #0a0;
  background: rgb(89, 223, 89);
  border: 1px solid;
  padding: 40px 10px;
  margin: 10px 0px;
  border-radius: 25px;
  text-align: center;
}
.warning {
  border-color: #a00;
  background: rgb(232, 65, 65);
  border: 1px solid;
  padding: 40px 10px;
  margin: 10px 0px;
  border-radius: 25px;
  text-align: center;
}
